<!-- 轮播图 -->
<div class="scroll">
    <div class="images">
        <ul>
            <li class="no1">
                <div class="zhezhao"><a href="course/7.html" target="_blank">&nbsp;</a></div>
                <a href="course/7.html" target="_blank"><img src=""/></a>
            </li>
            <li class="no2">
                <div class="zhezhao"><a href="course/7.html" target="_blank">&nbsp;</a></div>
                <a href="course/7.html" target="_blank"><img src=""/></a>
            </li>
            <li class="no3">
                <div class="zhezhao"><a href="map/23.html" target="_blank">&nbsp;</a></div>
                <a href="map/23.html" target="_blank"><img src=""/></a>
            </li>
            <li class="no4">
                <div class="zhezhao"><a href="course/87.html" target="_blank">&nbsp;</a></div>
                <a href="course/87.html" target="_blank"><img src=""/></a>
            </li>
            <li class="no5">
                <div class="zhezhao"><a href="course/88.html" target="_blank">&nbsp;</a></div>
                <a href="course/88.html" target="_blank"><img src=""/></a>
            </li>
        </ul>
    </div>
    <div class="btnbox"><a class="leftbut"></a><a class="rightbut"></a></div>
    <div class="dotlz">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
