<!-- @分类模块-start -->
<div class="category">
    <div class="cate_type">
        <h2>进修方向</h2>
        <ul>
            <li class="cur"><a href="javascript:void(0);">全部</a></li>
        </ul>
        <div style="clear: both;"></div>
    </div>
    <div class="cate_sort">
        <h2>排列顺序</h2>
        <ul>
            <li class="cur"><a href="javascript:void(0);">默认</a></li>
            <li><a key="time" href="javascript:void(0);">最新</a></li>
            <li><a key="hot" href="javascript:void(0);">最热</a></li>
        </ul>
        <div style="clear: both;"></div>
    </div>
</div>
<!-- @分类模块-end -->
