<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 通过namespace可以与接口类映射 -->
<mapper namespace="com.liwy.study.orm.mybatis.dao.IUserDao">

    <insert id="insertUser" parameterType="com.liwy.study.orm.mybatis.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into liwy_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                `id`,
            </if>
            <if test="username != null">
                `username`,
            </if>
            <if test="sex != null">
                `sex`,
            </if>
            <if test="email != null">
                `email`,
            </if>
            <if test="registerTime != null">
                `register_time`,
            </if>
            <if test="status != null">
                `status`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id, jdbcType=BIGINT},
            </if>
            <if test="username != null">
                #{username, jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex, jdbcType=TINYINT},
            </if>
            <if test="email != null">
                #{email, jdbcType=VARCHAR},
            </if>
            <if test="registerTime != null">
                #{registerTime, jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status, jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <select id="selectUser" resultType="com.liwy.study.orm.mybatis.entity.User"
            parameterType="com.liwy.study.orm.mybatis.entity.User">
        select
        `id`,
        `username`,
        `sex`,
        `email`,
        `register_time`,
        `status`
        from liwy_user
        <where>
            <if test="id != null">
                and `id` = #{id, jdbcType=BIGINT}
            </if>
            <if test="username != null and username != ''">
                and `username` = #{username, jdbcType=VARCHAR}
            </if>
            <if test="sex != null">
                and `sex` = #{sex, jdbcType=TINYINT}
            </if>
        </where>
    </select>

    <!-- 使用resultType自动映射，要保证字段名与属性名精确匹配;或开启mapUnderscoreToCamelCase -->
    <select id="getUser" resultType="com.liwy.study.orm.mybatis.entity.User" parameterType="long">
        SELECT
            `id`,
            `username`,
            `sex`,
            `email`,
            `register_time`,
            `status`
        FROM liwy_user
        WHERE id = #{id, jdbcType=BIGINT}
    </select>

    <select id="getUser" resultType="com.liwy.study.orm.mybatis.entity.User" parameterType="long" databaseId="mysql">
        SELECT
        `id`,
        '来自MySQL' as `username`,
        `sex`,
        `email`,
        `register_time`,
        `status`
        FROM liwy_user
        WHERE id = #{id, jdbcType=BIGINT}
    </select>

</mapper>