<!-- @导航栏模块-start -->
<div class="header">
    <div class="head_l">
        <h1><a href="index.html"><img src="./images/defaultLogo.png" alt="开源小屋" /></a></h1>
        <ul class="nav">
            <li><a href="index.html" class="afont current">首页</a></li>
            <li><a href="course.html" class="afont ">学习</a></li>
            <li><a href="works.html" class="afont ">作品</a></li>
            <li><a href="blog.html" class="afont ">杂谈</a></li>
            <li><a href="collection.html" class="afont ">收藏</a></li>
            <li><a href="about.html" class="afont ">关于我们</a></li>
        </ul>
    </div>
    <div class="head_r">
        <div class="search">
            <form action="http://dvd.boxuegu.com/search" method="get">
                <input type="text" class="search_l" name="keys" autocomplete="off" placeholder="请输入搜索内容" />
                <input type="submit" class="search_r" />
            </form>
        </div>
        <div class="quik" id="loginq">
            <a href="javascript:void(0);" class="afont js_login" >登录</a>
            <a href="register.html" class="afont">注册</a>
        </div>
        <div class="userhd" id="loginh">
            <img src="" />
            <a href="member/basic.html" class="afont agd auser" id="myname">个人中心</a>
            <a>|</a>
            <a href="" class="ahelp afont">退出</a>
        </div>
    </div>
</div>
<!-- @导航栏模块-end -->
