/* @summary-start */
.summary{background-color: #FFFFFF; padding: 20px;}
.summary .hd{border-bottom:1px solid #D2D2D2; font-size:16px; color:#323846; position:relative; margin-bottom:10px;}
.summary .share{position:absolute; right:10px; bottom:10px;}
.summary .share .bdshare-button-style0-32 .bds_tsina{background:url(../../commons/images/icon.png) no-repeat -140px 0;}
.summary .share .bdshare-button-style0-32 .bds_qzone{background:url(../../commons/images/icon.png) no-repeat -140px -80px;}
.summary .share .bdshare-button-style0-32 .bds_tsina:hover{ background-position:-140px -37px;}
.summary .share .bdshare-button-style0-32 .bds_qzone:hover{ background-position:-140px -125px;}
/* @summary-end */
