/* footer-start */
.footer{width:100%; background:#2E3340; overflow:hidden; font-family:"宋体"; padding: 30px 0;}
.footer .ft_l{height:193px; float: left; width: 30%;}
.footer .ft_l .ft_l_txt{float:left; width:28%; margin-right: 5%;}
.footer .ft_l .ft_l_txt h3{font-size:16px; color:#fff; padding-bottom:20px; font-family:"微软雅黑";}
.footer .ft_l .ft_l_txt ul li{font-size:14px; line-height:25px; color:#999;}
.footer .ft_l .ft_l_txt ul li a{color:#b0bcd0; font-size:12px;}
.footer .ft_l .ft_l_txt ul li a:hover{color:#fff;}
.footer .ft_c{height:193px; float: left; width: 40%;}
.footer .ft_c div p{color:#fff; font-size:16px; padding-bottom:25px; text-align:center;}
.footer .ft_c .it_wx{float:left; margin-left:60px;}
.footer .ft_c .boniu_wx{float:right; margin-right:60px;}
.footer .ft_r{height:193px; float: right; width: 30%;}
.footer .ft_r .share{height:56px; margin:15px 0px 0px 40px;}
.footer .bdshare-button-style0-32 a{width:56px; height:56px; margin:0; margin-right:40px; background:url(./images/icon.png) no-repeat -78px -479px;}
.footer .bdshare-button-style0-32 .bds_tsina{background-position:0 -381px;}
.footer .bdshare-button-style0-32 .bds_qzone{background-position:-78px -381px;}
.footer .ft_r .pp2{ margin-left:40px; color:#b0bcd0; line-height:22px; font-size:12px;}
.footer .ft_r .pp2 a{color:#b0bcd0;}
/* footer-end */

/* copy-start */
.copy{width:100%; color:#b0bcd0; text-align:center; clear:both; margin:0 auto; line-height:25px; font-size:12px; padding: 0px 0px 40px 0px;}
.copy #tongji{ text-align:center;}
.copy #tongji a img{display:inline-block;}
/* copy-end*/
