<!-- @底部信息模块-end -->
<div class="footer">
    <div class="ft_l">
        <div class="ft_l_txt">
            <h3>关于我们</h3>
            <ul>
                <li><a href="about.html" target="_blank">关于小屋</a></li>
                <li><a href="about.html" target="_blank">友情赞助</a></li>
                <li><a href="about.html" target="_blank">广告服务</a></li>
                <li><a href="about.html" target="_blank">版权声明</a></li>
                <li><a href="about.html" target="_blank">关于小屋</a></li>
            </ul>
        </div>
        <div class="ft_l_txt">
            <h3>帮助中心</h3>
            <ul>
                <li><a href="about.html" target="_blank">新手指南</a></li>
                <li><a href="about.html" target="_blank">常见问题</a></li>
                <li><a href="about.html" target="_blank">密码找回</a></li>
                <li><a href="about.html" target="_blank">意见反馈</a></li>
            </ul>
        </div>
        <div class="ft_l_txt">
            <h3>站内地图</h3>
            <ul>
                <li><a href="map/22.html" target="_blank">GitHup地址</a></li>
                <li><a href="map/23.html" target="_blank">SVN代码地址</a></li>
                <li><a href="map/26.html" target="_blank">百度网盘资源的</a></li>
                <li><a href="map/22.html" target="_blank">GitHup地址</a></li>
            </ul>
        </div>
    </div>
    <div class="ft_c">
        <div class="it_wx">
            <p>微信扫一扫</p>
            <img src="./images/defaultSS.jpg" width="120" height="120" />
        </div>
        <div class="boniu_wx">
            <p>QQ扫一扫</p>
            <img src="./images/defaultSS.jpg" width="120" height="120" />
        </div>
    </div>
    <div class="ft_r">
        <div class="share">
            <div class="share_in">
                <div class="bdsharebuttonbox">
                    <a href="#" class="bds_mshare" data-cmd="mshare" title="分享到一键分享"></a>
                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                </div>
                <script>
                    window._bd_share_config={"common":{"bdSize":"32"},"share":{}};
                    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script'))
                        .src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
                </script>
            </div>
        </div>
        <p class="pp2" style="margin-top:28px;">QQ号：xxxxxxxx</p>
        <p class="pp2">微信：xxxxxxxx</p>
        <p class="pp2">邮箱：xxxxxxxx</p>
    </div>
</div>
<!-- @底部信息模块-end -->

<!-- @版权模块-start -->
<div class="copy">
    Stay Hungry. Stay Foolish.&nbsp;邮箱: <span class="email">xxxxxxxxx@126.com</span>&nbsp;QQ: <span class="qq">xxxxxxxx</span>&nbsp;微信: <span class="weixin">xxxxxxxx</span>
    <br>Copyright &copy; www.oscafe.net  <span class="copycode">京ICP备xxxxxxxx号-1</span>
    <div id="tongji">
        <script type="text/javascript">
            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1260684426'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol
                + "s95.cnzz.com/z_stat.php%3Fid%3D1260684426%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </div>
</div>
<!-- @版权模块-end -->
