<div class="tabs">
    <ul class="slidenav">
        <!--<li class="cur"><a href="javascript:void(0);" subject="1">Web</a></li>-->
        <!--<li><a href="javascript:void(0);" subject="2">Database</a></li>-->
        <!--<li><a href="javascript:void(0);" subject="3">Server</a></li>-->
        <!--<li><a href="javascript:void(0);" subject="4">Java</a></li>-->
        <!--<li><a href="javascript:void(0);" subject="5">Android</a></li>-->
        <!--<li><a href="javascript:void(0);" subject="6">PHP</a></li>-->
        <!--<li><a href="javascript:void(0);" subject="7">C/C++</a></li>-->
        <!--<li><a href="javascript:void(0);" subject="8">Electronic</a></li>-->
    </ul>
    <div class="curBg"></div>
</div>
