<?xml version="1.0" encoding="UTF-8"?>
<!-- 通过profile设置运行环境，也可在bean上设置,default为默认环境 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd" profile="default">

    <!--引入properties文件-->
    <context:property-placeholder location="classpath:config-jdbc.properties" />
    <bean id="instansBean" class="com.liwy.study.spring.spring4.bean.InstansBean">
        <constructor-arg value="${db_username}"/>
    </bean>

    <bean id="userDao" class="com.liwy.study.spring.spring4.dao.impl.UserDaoImpl" ></bean>
    <bean id="userService" class="com.liwy.study.spring.spring4.service.impl.UserServiceImpl">
        <!-- 通过set方法注入 -->
        <property name="userDao" ref="userDao" />
    </bean>

    <!-- spring的事件监听类 -->
    <bean id="springEventListener" class="com.liwy.study.spring.spring4.bean.SpringEventListener"/>

</beans>